---
import type { Todo } from "../data/todos";
import { Trash2 } from "./icons";

export interface Props {
  todo: Todo;
}

const { todo } = Astro.props;
---

<li id={`todo-${todo.id}`} class:list={{ completed: todo.done === true }}>
  <div class="flex items-center justify-between gap-4">
    <div class="inline-flex items-center">
      <label
        class="relative flex cursor-pointer items-center rounded-full p-3"
        for={`checkbox-${todo.id}`}
        data-ripple-dark="true"
      >
        <input
          type="checkbox"
          class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-green-500 checked:bg-green-500 checked:before:bg-green-500 hover:before:opacity-10"
          id={`checkbox-${todo.id}`}
          checked={todo.done}
          hx-patch={`/partials/todos/${todo.id}`}
          checked={todo.done}
          hx-target={`#todo-${todo.id}`}
          hx-swap="outerHTML"
        />
        <div
          class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-3.5 w-3.5"
            viewBox="0 0 20 20"
            fill="currentColor"
            stroke="currentColor"
            stroke-width="1"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
      </label>
    </div>
    <label
      class="w-full cursor-text hover:ring-1 ring-slate-700/10 rounded-sm px-2"
      hx-get={`/partials/todos/edit/${todo.id}`}
      hx-target={`#todo-${todo.id}`}
      hx-swap="outerHTML"><strong>{todo.name}</strong></label
    >
    <button
      class="bg-red-600 text-white p-1 rounded-md"
      hx-delete={`/partials/todos/${todo.id}`}
      _={`on htmx:afterOnLoad remove #todo-${todo.id}`}
    >
      <Trash2 size={14} />
    </button>
  </div>
</li>
